body {
    display: flex;
    height: 100vh;
}

form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 0;
    border: 2px solid red;
    flex-direction: column;
    gap: 5rem;
    padding: 0rem 10rem 0rem 2.5rem;
}

form > div {
    border: 2px solid yellow;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

em {
    font-style: italic;
}

#hero-text > * {
    font-weight: bold;
}

button[type="submit"] {
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 10px 0px;
}