:root {
    --actiongreen: rgb(89, 109, 72);
}

@font-face {
    font-family: norse-bold;
    src: url(./Norse-Bold.otf);
}

body {
    display: flex;
    height: 100vh;
    box-sizing: border-box;
    font-family: sans-serif;
}

form {
    display: flex;
    justify-content: space-around;
    flex: 1 1 0;
    flex-direction: column;
}
    
form > div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1 1 0;
    padding-right: 10rem;
    padding-left: 2.5rem;
}

.hero-text {
    justify-content: flex-end;
    padding-bottom: 2rem;
    background-color: rgb();
}

.fields {
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.buttons {
    justify-content: flex-start;
    padding-top: 1.25rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

em {
    font-style: italic;
}

button[type="submit"] {
    background-color: var(--actiongreen);
    color: white;
    border-radius: 5px;
    padding: 10px 40px;
    font-weight: bold;
    align-self: flex-start;
}

div.buttons,
div.hero-text {
    background-color: rgb(249, 250, 251);
}

a {
    color: var(--actiongreen);
    align-self: flex-start;
}


label {
    text-transform: uppercase;
    font-size: 0.667rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
    font-weight: 900;
}

div.fieldrow {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

input {
    border-color: #E5E7EB;
    border-radius: 3px;
}

.main-img {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.img-container {
    position: relative;
}

.overlay {
    position: absolute;
    display: flex;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: norse-bold;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    top: 33vh;
    width: 100%;

    color: white;
    padding: 1.25rem 0;
}

img[src="odin-lined.png"] {
    width: 6rem;
}

input:focus {
    border: 3px solid blue;
}

.credits {
    position: absolute;
    top: 90vh;
    left: 15vh;
    color: white;
}

.credits a,
.credits a:visited {
    color: white;
}